accelerate
bs4
elasticsearch
faiss-cpu



langchain
langchainhub
langchain-community
langchain-core
langchain-openai
langchain-teddynote
langchain-text-splitters

langsmith
pymupdf

